.category--container{
    max-width: 80%;
    padding: var(--padding-large);
    margin: auto;
}

.category--card{
    position: relative;
    max-height: 25rem;
    max-width: 25rem;
    opacity: 0.75;
    cursor: pointer;
}

.category--title{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.category--card:hover{
    transform: scale(1.1);
    opacity: 0.6;
}

.about__description h2{
    font-family: var(--font-family-secondary);
}

.quiz__category{
    margin-bottom: 3rem;
}


@media only screen and (max-width: 600px) {

    .container--50{
        max-width: 100%;
    }

    .category--container{
        max-width: 100%;
        padding: var(--padding-small);
    }

    .category--card{
        max-height: 15rem;
        max-width: 45%;
        margin: var(--margin-small)
    }

    .category--title{
        font-size: var(--text-medium);
    }
}